
body{
    background-color: rgb(22, 22, 22)
}
.post {
    background-color: rgb(41, 40, 40);
    margin:  auto;
    margin-top: 10px;
    margin-right: 100px;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
    color: white
}

.post-pic {
   
        max-width: 100%;
        height: auto;
  }

.profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 90px;
      object-fit: cover;
      margin-top: 11px;
      
  }

.user-info {
    text-align: left;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

.date{
    color: grey;
    font-size: 12px;
}

.info {
    display: flex;
}

.name{
    margin-left: 15px;
}

.post-text {
    text-align: left;
    color: white;
}
  .like-body {
    margin:0 auto;
    text-align: left;
  }
  
  /* i:hover {
    color:#666;
  } */
  
  .liked:before {
    font-family:fontawesome;
    content:'\f004';
    font-style:normal;
    color: red;
  }
  
  .unliked:before {
    font-family:fontawesome;
    content:'\f004';
    font-style:normal;
    color: white;
  }

  .comment:before{
    font-family:fontawesome;
    content:'\f075';
    font-style:normal;
    margin-left: 15px;
  }

  .comments {
      text-align: left;
  }

  .comment-input {
      width: 80%;
      padding: 10px 20px;
      margin: 10px 10px 10px 10px;
      box-sizing: border-box;

  }

  .send:before {
    font-family:fontawesome;
    content:'\f1d8';
    font-style:normal;
    margin-left: 20px;
    
    
  }

.comment-form {
  margin-top: 70px;
}

.comment-forms input {
  width: 50%;
  border-radius: 5px;
  background-color: rgb(41, 40, 40);
  border: 2px solid grey;
  padding: 12px 20px;
  margin: 10px 20px 0 100px;
  
}

.comment-forms button {


    background-color: #383a38;
    width: 50%;
    border: none;
    margin-top: 15px;
    margin-left: 85px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}

hr {
  border: .5px solid rgb(182, 170, 170);
}

.comment-form{
  width: 100%
}

.comments-input input{
  width: 80%;
  border-radius: 5px;
  background-color: rgb(41, 40, 40);
  border: 2px solid grey;
  padding: 12px 20px;
  margin: 8px 0;
}
.comments-input button{
  background-color: rgb(201, 28, 28);
}


.user{
  color: white
}

  
 
  