
body{
    background-color: rgb(22, 22, 22)
}
.post {
    background-color: rgb(41, 40, 40);
    margin:  auto;
    margin-top: 10px;
    margin-right: 100px;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
    color: white
}

.post-pic {
   
        max-width: 100%;
        height: auto;
  }

.profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 90px;
      object-fit: cover;
      margin-top: 11px;
      
  }

.user-info {
    text-align: left;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

.date{
    color: grey;
    font-size: 12px;
}

.info {
    display: flex;
}

.name{
    margin-left: 15px;
}

.post-text {
    text-align: left;
}
  .like-body {
    margin:0 auto;
    text-align: left;
  }
  
  i:hover {
    color:#666;
  }
  
  .heart:before {
    font-family:fontawesome;
    content:'\f004';
    font-style:normal;

  }

  .comment:before{
    font-family:fontawesome;
    content:'\f075';
    font-style:normal;
    margin-left: 15px;
  }

  .comments {
      text-align: left;
  }

  .comment-input {
      width: 80%;
      padding: 10px 20px;
      margin: 10px 10px 10px 10px;
      box-sizing: border-box;

  }

  .send:before {
    font-family:fontawesome;
    content:'\f08e';
    font-style:normal;
    margin-left: 30px;
    
  }

.comment-form {
  margin-top: 70px
}


  
 
  