
.sidebar {
    height: 550px;
    width: 260px;
    position: sticky;
    top: 160px;
    left: 60px;
    float: left;
    margin-top: 35px;
    padding-top: 40px;
    background-color: rgb(41, 40, 40);
    border-radius: 10px;
    }

.sidebar div{
    margin-bottom: 30px;
}

.main-container{
    display: flex;
    
}
   
      

  