/* .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

.sidebar div {
        display: block;
        color: rgb(211, 16, 16);
        padding: 16px;
        text-decoration: none;
        float: left;
} */
.sidebar {
    height: 600px;
    width: 100px;
    min-width: 250px;
    position: sticky;
    top: 80px;
    left: 60px;
    float: left;
    margin-top: 35px;
    padding-top: 40px;
    background-color: rgb(41, 40, 40);
    border-radius: 10px;
    }

.sidebar div{
    margin-bottom: 30px;
}

.main-container{
    display: flex;
    
}
   
      

  